* {
	margin : 0px;
	padding : 0px; 
  font-size : 10px;
  font-family : "verdana";
}

body{
	background-color: #e2e2e2;
}

#logo {
	text-align : center;
}

#image-content{ 
  margin : 0 auto;
	margin-top : 60px; 
}

#image-content img{ 
  cursor : pointer;	
  max-width : 400px; 
  max-height : 400px;
}

#image-content div{
	background : #fff;
	display : inline-block;    
	border : 10px solid #fff;
	margin : 5px;
	text-align : center;
}